<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MyTube</title>

    <!-- Styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
		body {
			padding-top: 60px;
		}
    </style>
</head>

<body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="../../index.html">MyTube Videos</a>
				<div class="nav-collapse collapse pull-right">
					<ul class="nav">
						<li class="active"><a href="../../index.html">Popular</a></li>
						<li><a href="../../upload.html">Upload</a></li>
					</ul>
				</div>
			</div>
		</div>
    </div>

    <div class="container">

		<fieldset>
			<legend>Now Playing: {{ name }}</legend>
			
			<h3>Hybrid Streaming/Download Player</h3>
			<span class="help-block">The video below will stream from Cloudfront when on a desktop computer, and will download from S3 when on a mobile device.</span>
			<label>CloudFront Streaming Url</label>
			<span class="input-xlarge uneditable-input" style="width: 100%">{{ streaming_url }}</span>
			<label>S3 Download Url</label>
			<span class="input-xlarge uneditable-input" style="width: 100%">{{ s3_url }}</span>
			<div id="video-hybrid"></div>
			
			<h3>Streaming Player</h3>
			<label>Streaming Url</label>
			<span class="input-xlarge uneditable-input" style="width: 100%">{{ streaming_url }}</span>
			<div id="video-stream"></div>

			<h3>Download Player</h3>
			<label>S3 Download Url</label>
			<span class="input-xlarge uneditable-input" style="width: 100%">{{ s3_url }}</span>
			<div>
				<video id="s3_video" class="video-js vjs-default-skin" controls width="640" height="400" preload="auto">
				  <source type="video/mp4" src="{{ s3_url }}">
				</video>
			</div>

		</fieldset>
	  
    </div>

	<!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<script src="//cdn.jsdelivr.net/jwplayer/6/jwplayer.js"></script>
	<script src="/js/script.js"></script>
	<script>
		jwplayer('video-hybrid').setup({
		    playlist: [{
		        sources: [{ 
		        	file: "{{ streaming_url }}"
		        },{
		            file: "{{ s3_url }}"
		        }]
		    }],
		    height: 360,
		    primary: "flash",
		    width: 640
		});
		jwplayer('video-stream').setup({
		    playlist: [{
		        sources: [{ 
		        	file: "{{ streaming_url }}"
		        }]
		    }],
		    height: 360,
		    width: 640
		});
	</script>
</body>
</html>